.top-bar{
    background-color: rgba(240, 243, 242, 1);
    /* color: rgba(92, 108, 117, 1); */
   
}
.footer{
    background-color: rgba(240, 243, 242, 1);
}
.card-product:hover{
    border-color: rgba(10, 173, 10, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}